body {
  font-size: 1.2em;
  background-color: #E8EDDF;
  font-size: 1.2em;

  padding-left: 3em;
  padding-right: 3em;
}

/*All p color */
p, body, header, footer {
  color: #333533;
  font-family: "Roboto", sans-serif;
}