* {
  margin: 0;
}

body {
  position: relative;
  font-family: 'Inter', sans-serif;
  
  font-size: 1.2em;
  background-color: #0a0a0a;

  padding-left: 3em;
  padding-right: 3em;
}

@keyframes logoRotate {
  20% {rotate: 0deg;}
  100% {rotate: 360deg;} 
}

.loading-image {
  animation: logoRotate 2s linear 1;
  position:absolute;
  top: 20%;
  left: 35%;
  opacity: 1;

  z-index: 12;
}

.loading-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 11;
  background-color: #0a0a0a;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

span {
  color: #b91c1c;
}

/*All p color */
p, body, header, footer {
  color: #888888;
}

main {
  display: flex;
  flex-direction: column;

  align-items: center;
}

form {
  margin: 2em;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 900px;
  height: 600px;
  gap: 1em;
  background-color: #111111;

  border: 1px solid #2a2a2a;
  border-radius: 1em;
}

input {
  background-color: #111111;
  border : 1px solid #2a2a2a;
  color: #f0ede8;
  border-radius : 1em;
  padding: 1em;
  outline: none;
}

textarea {
  background-color: #111111;
  border : 1px solid #2a2a2a;
  color: #f0ede8;
  border-radius : 1em;
  padding: 1em;
  outline: none;
}

button {
  display: flow-root;

  width: 200px;
  height: 60px;

  font-size: large;

  background-color: #111111;
  border : 1px solid #2a2a2a;
  color: #b91c1c;
  border-radius : 1em;
  padding: 1em;

  transition:scale 0.2s ;
}

button:hover {
  scale: 1.04;
  color: #f0ede8;
  background-color: #2a2a2a;
  border : 1px solid #b91c1c;
}