header{
    background-color: #051029;

    padding-left: 2em;
    margin: 1em;

    font-size: 1.2em;

    border-radius: 20px;
}

header nav ul{
    color: #EFBF8C;
    list-style: none;
    gap: 1em;

    display: flex;
    flex-direction: row;
}

header h2{
    border-radius: 10px;
    padding: 0.5em;
}

header nav{
    height: 4em;
    width: 100%;
    gap: 2em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button{
    font-style: normal;
    text-decoration: none;
    color: #2EB2B9;

    padding: 4px;
    border-radius: 20px;
    transition: color 0.2s; /* joli effet de transition */

    
}

.button:hover{
    color: white;
}