body {
  font-size: 1.2em;
  background-color: #E8EDDF;
  font-size: 1.2em;

  padding-left: 3em;
  padding-right: 3em;
}

/*All p color */
p, body, header, footer {
  color: #333533;
  font-family: "Roboto", sans-serif;
}

.top {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20em;
}

.topTitle {
  z-index: 1;
}

.orangeCircle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-color: #242423;
}

span {
  color: #E8EDDF;
}

header nav {
  background: #F5CB5C;

  width: 98%;

  border: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header ol {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

h2, h3 {
  font-family: "Tomorrow", sans-serif;
  font-size: 1.2em;
  color: #242423;
}

h1 {
  font-family: "Tomorrow", sans-serif;
  font-size: 2em;
  color: #242423;
}


/* Card */
.card {
  position: inherit;
  width: 400px;
  height: 400px;
  background: #F5CB5C;

  border: 2px solid #333533;
  border-radius: 3%;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.4s;
}

#card:hover {
  background: green;
  transform: scale(1.4);
  z-index: 1;
}

#card button{
  width: 50%;
  height: 10%;
}

.mes-projets {
  padding: 3em;;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.mes-projets div {
  padding: 3em;;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}