body{
    margin: 0;
    background-color: #124864;
    color: #051029;

    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2em;

    text-align: center;
}



footer{
    background-color: #051029;
}

h1, h2, h3, h4{
    color: #2EB2B9;
    font-family: "Titan One", sans-serif;
}